#pacotes espec[ificos dos pacotes instalados
qwerty-hertz/node_modules

#arquivo que guarda o resultado da gravação codificada
qwerty-hertz/script/**/*.txt

#arquivo que guarda o resultado da gravação convertida
qwerty-hertz/script/**/*.json

#Arquivo de localização do python
.vscode
