*{
    padding: 0;
    margin: 0;
}
.main-section {
    position: absolute;
    right: 0;
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FCB040;
}
.main-section h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 5vh;
}
#circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    background-color: #EFEFEF;
}
#img-mic {
    height: 13rem;
}
.link-main {
    color: #EFEFEF;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;

}
.link-main:hover {
    text-decoration: none;
}
.sidebar {
    position: absolute;
    left: 0;
    height: 100%;
    width: 10vw;
    background-color: #242424;
    color: #EFEFEF;
    border-right: 2px  #EFEFEF solid;
    text-align: center;
}
.sidebar span{
    font-size: 40px;
}